.lebronCrySection1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 74, 204);
    width: 100vw;
    overflow: hidden;
    background-image: url('/image/lebronvector.svg');
    background-size: cover;
    background-position: center;
}

.lebronCrySection1 h1{
    background-color: black;
    color: white;
    padding: 20px;
}