.lebronGod{
    background-image:url('/image/lebron2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
.lebronAlpha{
    background-image:url('/image/raw.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.enormous-text {
    /* font-size: 3rem;  */
    font-size: 2rem;
    font-weight: bold; 
  }
p.enormous-text  {
    margin: 40px auto;
}